html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}
